.DS_Store
__pycache__/
.idea/
.tmp/
.vscode/
bdd/
runs/
inference/
*.pth
*.pt
*.tar
*.tar.gz
*.png
*.jpg
*.json
data/
runs/
weights/
*.rar
*.7z
*.exe
*.ckpt
work_dirs/
*.mp4
*.avi
UNIX2DOS/
README _CH.md
LICENSE_YOLOP
LICENSE_RESA