<launch>
    <arg name="replay" default="false"/>
    <arg name="motion" default="true"/>
    <arg name="plot" default="false"/>
    
     <!-- Set to ros topic -->
    <node pkg="socketcan_bridge" type="socketcan_to_topic_node" name="socket2cantopic" if="$(eval replay == false)"/>

    <!-- Cameras -->
    <!-- <node pkg="ars408_ros" type="thermalToRos.py" name="thermalToRos" output="screen" if="$(eval replay == false)"/> -->
    <!-- <node pkg="ars408_ros" type="pointGreyToRos.py" name="pointGreyToRos" output="screen" if="$(eval replay == false)"/> -->
    <node pkg="ars408_ros" type="dualVedioToRos.py" name="dualVedioToRos" output="screen" if="$(eval replay == false)"/>

    <!-- Serialize can data -->
    <node pkg="ars408_ros" type="cantopic2data" name="cantopic2data" output="screen"/>
    <node pkg="ars408_ros" type="visualRadar" name="visualRadar" output="screen"/>
    <node pkg="rviz" type="rviz" name="rv" required="true" args="-d $(find ars408_ros)/rviz/lan.rviz"/>

    <!-- Motion -->
    <node pkg="ars408_ros" type="motionToRadar.py" name="motionToRadar" output="screen" if="$(eval motion == true and replay == false)"/>

    <!-- Plot -->
    <node pkg="ars408_ros" type="plotPoint.py" name="plotPoint" output="screen" if="$(eval plot == true)"/>
</launch>
