<launch>
    <arg name="motion" default="true"/>
    <arg name="plot" default="true"/>
    <arg name="calib" default="true"/>
    <arg name="lidar" default="false"/>
    <arg name="rviz" default="true"/>

    <!-- Parse raw can data to ros message -->
    <node pkg="socketcan_bridge" type="socketcan_to_topic_node" name="socket2cantopic"/>

    <!-- Serialize can data -->
    <node pkg="ars408_ros" type="cantopic2data" name="cantopic2data" output="screen" if="$(eval rviz == true)"/>
    <node pkg="ars408_ros" type="visualRadar" name="visualRadar" output="screen" if="$(eval rviz == true)"/>

    <!-- Motion -->
    <node pkg="ars408_ros" type="motionToRadar.py" name="motionToRadar" output="screen" if="$(eval motion == true)"/>

    <!-- Cameras -->
    <!-- <node pkg="ars408_ros" type="dualVedioToRos.py" name="dualVedioToRos" output="screen"/> -->
    <node pkg="ars408_ros" type="rgbToRosSleep.py" name="rgbToRosSleep" output="screen"/>
    <node pkg="ars408_ros" type="thermalToRosSleep.py" name="thermalToRosSleep" output="screen"/>
    <node pkg="ars408_ros" type="calibImg.py" name="calibImg" output="screen" if="$(eval calib == true and rviz == true)"/>
    <node pkg="ars408_ros" type="dualFusion.py" name="dualFusion" output="screen"  if="$(eval calib == true and rviz == true)"/>
    
    <!-- Plot -->
    <node pkg="ars408_ros" type="plotRadar.py" name="plotRadar" output="screen" if="$(eval plot == true and rviz == true)"/>

    <!-- Lidar -->
    <include file="$(find velodyne_pointcloud)/launch/32e_points.launch" if="$(eval lidar == true)"/>
    <node pkg="tf" type="static_transform_publisher" name="linkVelodyne_broadcaster" args="-2 0 1.8 0 0 0 1 my_frame velodyne 500" if="$(eval lidar == true)"/>

    <!-- Show on rviz -->
    <node pkg="rviz" type="rviz" name="rv" required="true" args="-d $(find ars408_ros)/rviz/record.rviz" if="$(eval rviz == true)"/>

</launch>
