<launch>
    <arg name="replay" default="false"/>
    <arg name="plot" default="false"/>
    <arg name="camIndex" default="0"/>
    <arg name="topicName" default="/rgbImg"/>
    
     <!-- Set to ros topic -->
    <node pkg="socketcan_bridge" type="socketcan_to_topic_node" name="socket2cantopic" if="$(eval replay == false)"/>

    <!-- Serialize can data -->
    <node pkg="ars408_ros" type="cantopic2data" name="cantopic2data" output="screen"/>
    <node pkg="ars408_ros" type="visualRadar" name="visualRadar" output="screen"/>

    <!-- Cameras -->
    <node pkg="ars408_ros" type="camToRos.py" name="RGB_Camera" output="screen" if="$(eval replay == false)">
        <param name="camIndex" type="int" value="$(arg camIndex)"/>
        <param name="topicName" type="string" value="$(arg topicName)"/>
    </node>

    <node pkg="rviz" type="rviz" name="rv" required="true" args="-d $(find ars408_ros)/rviz/single.rviz"/>
    <!-- Yolo -->
    <node pkg="ars408_ros" type="yolo_EM.py" name="yolo_EM" output="screen"/>

    <!-- plot -->
    <node pkg="ars408_ros" type="plotDist.py" name="plotDist" output="screen" if="$(eval plot == true)"/>

</launch>