<launch>
    <arg name="plot" default="true"/>
    <arg name="socket" default="false"/>
    <arg name="period_in_ms" default="0"/>

    <!-- <arg name="tf_param_third" default="0.0 -0.8 0.0 -1.22 0.0 0.0"/> -->
    <!-- <arg name="tf_param_second" default="0.0 0.8 0.0 1.22 0.0 0.0"/> -->
    <arg name="tf_param_third" default="0.0 0.0 0.0 0.0 0.0 0.0"/>
    <arg name="tf_param_second" default="0.0 0.0 0.0 0.0 0.0 0.0"/>
    
    <arg name="firstRadar" default="/radar/first"/>
    <arg name="firstWork" default="true"/>
    <arg name="secondRadar" default="/radar/second"/>
    <arg name="secondWork" default="true"/>
    <arg name="thirdRadar" default="/radar/third"/>
    <arg name="thirdWork" default="true"/>    
    
    <!-- Serialize Can Data -->
    <node pkg="ars408_ros" type="cantopic2data" name="cantopic2data" output="screen" ns="$(arg firstRadar)" if="$(eval firstWork == true)">
        <param name="radarChannel" type="string" value="$(arg firstRadar)"/>
    </node>
    <node pkg="ars408_ros" type="cantopic2data" name="cantopic2data" output="screen" ns="$(arg secondRadar)" if="$(eval secondWork == true)">
        <param name="radarChannel" type="string" value="$(arg secondRadar)"/>
    </node>
    <node pkg="ars408_ros" type="cantopic2data" name="cantopic2data" output="screen" ns="$(arg thirdRadar)" if="$(eval thirdWork == true)">
        <param name="radarChannel" type="string" value="$(arg thirdRadar)"/>
    </node>

    <!-- GPS -->
    <!-- <node pkg="ars408_ros" type ="motionToRadar.py" name="motionToRadar" output="screen" if="$(eval plot == true)"></node> -->
    
    <!-- 3 RADAR -->
    <node pkg="ars408_ros" type="threeRadar.py" name="threeRadar" output="screen" if="$(eval plot == true)"/>
    <!-- IMG calib -->
    <node pkg="ars408_ros" type="calibImg.py" name="calibImg" output="screen"/>
    <!-- Plot -->
    <node pkg="ars408_ros" type="plotRadar.py" name="plotRadar" output="screen" if="$(eval plot == true)"/>

    <!-- Visual Radar -->
    <node pkg="ars408_ros" type="visualRadar" name="visualRadar" output="screen" ns="$(arg firstRadar)" if="$(eval firstWork == true)">
        <param name="radarChannel" type="string" value="$(arg firstRadar)"/>
    </node>
    <node pkg="ars408_ros" type="visualRadar" name="visualRadar" output="screen" ns="$(arg secondRadar)" if="$(eval secondWork == true)">
        <param name="radarChannel" type="string" value="$(arg secondRadar)"/>
    </node>
    <node pkg="ars408_ros" type="visualRadar" name="visualRadar" output="screen" ns="$(arg thirdRadar)" if="$(eval thirdWork == true)">
        <param name="radarChannel" type="string" value="$(arg thirdRadar)"/>
    </node>

    <!-- Add New Frame to display on rviz-->
    <node pkg="tf" type="static_transform_publisher" name="second2first" args="$(arg tf_param_second) $(arg firstRadar) $(arg secondRadar) $(arg period_in_ms)"/>
    <node pkg="tf" type="static_transform_publisher" name="third2first" args="$(arg tf_param_third) $(arg firstRadar) $(arg thirdRadar) $(arg period_in_ms)"/>

    <!-- Show on rviz -->
    <node pkg="rviz" type="rviz" name="rv" required="true" args="-d $(find ars408_ros)/rviz/multiRadar.rviz"/>

</launch>